body {
    background-image: url(../images/6-imagem-fundo/imagem-fundo.jpeg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Orbitron", sans-serif;
}

.container {
    width: 450px;
    border: 1px solid #DAA520;
    background-color: rgba(112, 128, 144, 0.7);
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    color: #8B0000;
}

.profile .foto-perfil {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 1px solid #DAA520;
}

.profile .nome {
    margin-top: 20px;
    font-weight: 700;
    font-size: 24px;
}

.profile .cidade,
.profile .cargo {
    margin-top: 10px;
    font-size: 9px;
    font-weight: 400;
    color: black;
}

.links{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
}

figure{
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 45px;
    border: 1px solid #DAA520;
    border-radius: 10px;
    margin-top: 10px;
    align-items: center;
    padding: 10px;
}

figure a{
    color: #8B0000;
}

figure:hover{
    border: 1px solid #F8F8FF;
    background-color: #DAA520;
    box-shadow: 0 5px 15px #8B0000;
    transition: 0.3s ease-in-out;
}

.links figure img{
    border-radius: 50%;
    height: 30px;
}

footer {
    margin-top: 35px;
    text-align: center;
}

footer{
    margin-bottom: 30px;
}

footer a{
    color: #8B0000;
    margin: 10px;
    transition: 0.3s ease-in-out;
}

a:hover{
    color: #F8F8FF;
}

footer a:hover{
    color: #DAA520;
}